.table_wrapper {
    max-width: 100%;
}
.dataTables_wrapper {
    border-radius: toRem(6);
    background-color: $white;
    padding: 0.5rem;
    .dataTables_info,
    .dataTables_paginate {
        width: max-content;
    }
    .dataTables_info {
        float: #{$right};
        color: #333;
        font-size: toRem(10.5);
        padding-top: 1rem; 
    }
    .dataTables_paginate {
        float: #{$left};
        display: inline-flex;
        align-items: center;
        padding-top: 0;

        .paginate_button {
            color: #7e8299;
            font-size: toRem(13.5);
            border-radius: toRem(6);
            border: 0 !important;
            padding: 0.3em 0.6em;
            &.previous,
            &.next {
                position: relative;
                color: transparent !important;
                width: toRem(36);
                height: toRem(36);
                padding: 0;
                cursor: pointer;
                &::before {
                    font-family: "Font Awesome 5 Free";
                    font-weight: 900;
                    position: absolute;
                    top: calc(50% - 9px);
                    width: 100%;
                    height: 100%;
                    color: #d8d8e5;
                }
                &:hover,
                &:focus {
                    background: none !important;
                    border: 0;
                    box-shadow: none;
                    color: transparent !important;
                    &:not(.disabled) {
                        &::before {
                            color: $txt-sub !important;
                        }
                    }
                }
            }
            &.previous {
                &::before {
                    content: "\f054";
                    #{$right}: 0;
                }
            }
            &.next {
                &::before {
                    content: "\f053";
                    #{$left}: 0;
                }
            }

            &.current {
                color: $white !important;
                background: $primary-light;
            }
            &:hover,
            &:focus {
                background: none !important;
                color: $txt-sub !important;
            }
        }
        & > .paginate_button:first-child,
        & > .paginate_button:last-child {
            display: none;
        }
    }
}
table.dataTable {
    width: 100% !important;
    background-color: $white;
    border-spacing: 0 toRem(8);
    border-radius: toRem(6) toRem(6) 0 0;
    border: 0 !important;
    order: 1;
 

    thead {
        border-radius: 6px;
        background-color: rgba($bg-grey, 0.25);
        & > tr > th.sorting {
            padding-#{$left}: toRem(22);
            padding-#{$right}: 0;
            &::before {
                #{$left}: 0;
                #{$right}: auto;
                content: "";
                background: url("../../../assets/images/svg/sorting.svg") no-repeat center;
                background-size: contain;
                width: toRem(16);
                height: toRem(16);
                opacity: 1;
                top: calc(50% - toRem(8));
            }
            &:hover {
                &::before {
                    opacity: 0.7;
                }
            }
        }
        & > tr > th.sorting::after {
            display: none;
        }
    }
    tbody{
        th, td {
            vertical-align: middle;
        }
    }
    th {
        color: $txt-table;
        border: 0 !important;
        font-size: toRem(13);
        text-align: center !important;
        &:first-child {
            border-radius: 0;
            border-top-#{$right}-radius: toRem(6);
            border-bottom-#{$right}-radius: toRem(6);
        }
        &:last-child {
            border-radius: 0;
            border-top-#{$left}-radius: toRem(6);
            border-bottom-#{$left}-radius: toRem(6);
        }
        &::before,
        &::after {
            color: $icon-dark;
        }
    }
    td {
        background-color: #fff;
        text-align: center;
        box-shadow: none !important;
        border-bottom-color: #f3f3f5;
        border-top: 0 !important;
    }
    .dt_sort {
        color: #898995;
        font-size: toRem(13);
        display: inline-block;
    }
    .dt_data {
        color: $dark;
        font-size: toRem(13.279);
    }

    /***************/
    &.dtr-inline.collapsed > tbody > tr > td.child,
    &.dtr-inline.collapsed > tbody > tr > th.child,
    &.dtr-inline.collapsed > tbody > tr > td.dataTables_empty {
        border: 0 !important;
        span.dtr-title {
            color: $txt-table;
            border: 0 !important;
            font-size: toRem(13);
        }
    }
    &.dtr-inline.collapsed > tbody > tr > td.dtr-control:before,
    &.dtr-inline.collapsed > tbody > tr > th.dtr-control:before {
        font-family: "Font Awesome 5 Free";
        font-weight: 400;
        content: "\f191"; 
        position: absolute;
        #{$right}: -.8rem;
        color: rgba($primary-light, 0.85);
        font-size: toRem(18);
        top: calc(50% - 13px);
        height: 26px;
    }
    &.dtr-inline.collapsed > tbody > tr.parent > td.dtr-control:before, 
    &.dtr-inline.collapsed > tbody > tr.parent > th.dtr-control:before {
        content: "\f150";
    }
    td.dtr-control.sorting_1 {
        position: relative;
    }
    & > tbody > tr.child ul.dtr-details {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: stretch;

        & > li {
            border-bottom: 0;
            padding: 0.5em 0 !important;
            display: flex;
            align-items: center;
            flex-wrap: wrap; 
            @include breakpoint(mobile-min) {
                &:not(:last-child) {
                    margin-#{$left}: 0.7rem;
                }
            }
            span.dtr-title {
                margin-#{$left}: 0.2rem;
            }
            .dtr-data .dt_data {
                // white-space: break-spaces;
            }
            .longTextCss{
                white-space: initial !important;
                max-width: 100% !important; 
            }
        }
        @include breakpoint(mobile) {
            flex-direction: column;
            position: relative;
            span.dtr-title {
                text-align: right;
                margin-#{$left}: 0.5rem;
            }
            .download_btn-box {
                position: absolute;
                #{$left}: 0;
                bottom: 0;
            }
        }
    }
}
.miniBox {
    &_img {
        width: toRem(30);
        height: toRem(30);
        margin-#{$left}: toRem(7.5);
        border-radius: 50%;
        overflow: hidden;
        background-color: $primary-light;
        .image {
            max-width: 100%;
            max-height: 100%;
            object-fit: cover;
        }
        &-notfound {
            width: 100%;
            height: 100%;
            font-size: toRem(11.619);
            background-color: $primary-light;
            text-align: center;
            color: $white;
            display: table;
        }
    }
    &_dtls {
        text-align: right;
        line-height: 1;
    }
    &_title {
        font-size: toRem(11.667);
        color: $dark;
        margin: 0 0 toRem(4) 0;
    }
    &_more {
        font-size: toRem(10);
        color: $txt-grey;
    }
    &_ticket {
        .miniBox_img {
            background: rgba(138, 116, 249, 0.1);
        }

        .image {
            max-width: toRem(15);
            max-height: toRem(15);
        }
    }
}
.download_btn {
    border: 0;
    outline: 0;
    box-shadow: none;
    width: toRem(16);
    height: toRem(16);
    background-color: transparent;
}
.longTextCss {
    white-space: nowrap;
    text-overflow:ellipsis;
    overflow: hidden;
    max-width:toRem(160); 
    @include breakpoint(large-min) {
        max-width:toRem(350); 
    }
    @include breakpoint(xlarge-min) {
        max-width:toRem(450); 
    }
}
abbr[title] {
    text-decoration: none;
}