@font-face {
    font-family: "NeoSansArabic"; 
    src: url("../fonts/NeoSansArabic.ttf") format("truetype");
}

@font-face {
    font-display: swap;
    font-family: "Inter";
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/Inter-Thin.ttf") format("truetype");
} 