$primary-light: #8A74F9;

$primary: #3D405B; 

$dark: #1C1C28; 
$black: #000000;
$icon-dark : #292D32;

/* text */
$txt-grey: #92A1AD;
$txt-grey-light: #99A1B7;
$txt-table: #ABAAB1;
$txt-sub: #333;
$white : #ffffff;

/* bg */
$bg-body: #F3F5F7;
$bg-grey: #E3E4E9;
$bg-grey-inpt: #E8E8E8;
$bg-icon: #E7EAED;
$bg-tooltip: #1E1B39;

/* border */
$border-grey : #E9EAEA;
$border-grey2 : #EBEBEB;

/* select */
$main-input:#FAFAFA;
