$main-fz: 10px;

$defaultFont: 'NeoSansArabic';
$englishFont: 'Inter';

// $defaultFont-Light: 'NeoSansArabic-Light';
// $defaultFont-Bold: 'NeoSansArabic-Bold';
// $defaultFont-ExtraBold: 'NeoSansArabic-ExtraBold';

$main-widths: (
    768px: 75rem,
    992px: 97rem,
    1200px: 117rem,
);
